@import "../../_globalColor";

.experience-card {
  position: relative;
  background-color: $lightBackground2;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.experience-card-dark {
  position: relative;
  background-color: $darkBackground;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.experience-card:hover,
.experience-card-dark:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
  transform: translateY(-5px);
}

.experience-banner {
  width: 220px;
  min-width: 220px;
  position: relative;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.experience-blurred_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.experience-roundedimg {
  position: relative;
  object-fit: contain;
  background-color: white;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 0.5rem 1rem $lightBoxShadowDarker;
  border-radius: 50%;
  z-index: 10;
}

.experience-text-details {
  flex: 1;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-text-company {
  text-align: left;
  margin: 0;
  color: $textColor;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.experience-text-role {
  text-align: left;
  color: $textColor;
  font-weight: 700;
  font-size: 25px;
  margin: 0px;
  line-height: normal;
}

.experience-text-date {
  text-align: left;
  color: $textColor;
  font-size: 16px;
  margin: 0px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.experience-text-desc {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 16px;
}

.subTitle {
  color: $textColor;
}

.dark-mode-text {
  color: $textColorDark !important;
}

/* Lists in descBullets */
.experience-text-details ul {
  padding-left: 20px;
  margin: 0;
}

.experience-text-details li {
  text-align: left;
}

/* Media Query */

@media (max-width: 1024px) {
  .experience-text-role {
    font-size: 22px;
  }

  .experience-text-company {
    font-size: 18px;
  }
}

@media (max-width: 768px) {

  .experience-card,
  .experience-card-dark {
    flex-direction: column;
  }

  .experience-banner {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
  }

  .experience-blurred_div {
    border-radius: 10px 10px 0 0;
  }

  .experience-text-details {
    padding: 1.5rem;
    align-items: center;
  }

  .experience-text-role,
  .experience-text-company,
  .experience-text-date,
  .experience-text-desc,
  .experience-text-details li {
    text-align: center;
  }

  .experience-text-details ul {
    padding-left: 0;
    list-style-type: none;
    /* easier for centering */
  }
}